/* Develop style */
body {
    color: white;
    background-color: #666;
}

select {
    background-color: black;
    border: 10px solid #666;
    border-radius: 30px;
    color: white;
    padding:  10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*width: 50%;*/
}

button {
    background-color: black;
    border: 10px solid #666;
    border-radius: 30px;
    color: white;
    padding:  10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


button:hover {
    background-color: #222;
}

.order button {
    width: 30%;
}
.filter button {
    width: 30%;
}

.entEdit button {
    width: 100%;
    height: 100%;
}

.header {
    display: grid; /* basis einstellung fuer layouting grid, flexbox, .... */
    grid-template-columns: 20em 1fr; /* 1fr (one fraction): Anzahl spalten */
    grid-template-rows: 5em; /* 100vh (full viewport height). */
}

.subheader {
    display: grid; /* basis einstellung fuer layouting grid, flexbox, .... */
    grid-template-columns: 1fr; /* 1fr (one fraction): Anzahl spalten */
    grid-template-rows: 4em 4em; /* 100vh (full viewport height). */
}

.entry {
    display: grid; /* basis einstellung fuer layouting grid, flexbox, .... */
    grid-template-columns: 1fr 1fr; /* 1fr (one fraction): Anzahl spalten */
    grid-template-rows: 30px 60px 100px 60px 40px; /* 100vh (full viewport height). */
}

/* entry items */
#items div[class*="entry"] {
    padding:  10px 20px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.entEdit {
    grid-row: 4;
    grid-column: 1;
    text-align: center;

    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.entryTime, .entryTitle {
    background-color: black;
    border: 10px solid #666;
    border-radius: 30px;
}

.entryTime {
    grid-row: 2;
    grid-column: 1;
}

.entryTitle {
    grid-row: 2;
    grid-column: 2;
}

.entryState {
    grid-row: 4;
    grid-column: 2;
    background-color: black;
    border: 10px solid #666;
    border-radius: 30px;
}

.entryImportance {
    grid-row: 1;
    grid-column: 1;
}

.entryDetails {
    background-color: black;
    grid-row: 3;
    grid-column: 1 / span 3;
    border: 10px solid #666;
    border-radius: 30px;
}

/* Edit form */
input[type=text] {
    background-color: black;
    color: white;
    padding:  10px 20px;
    border: 10px solid #666;
    border-radius: 30px;
    font-size: 16px;
    width: 80%;
}

#details {
    height: 100%;
}

#form div {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

#form div[class*="Inp"]{
     padding: 20px;
 }

#form div[class*="Des"] {
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}


#form {
    display: grid; /* basis einstellung fuer layouting grid, flexbox, .... */
    grid-template-columns: 200px 1fr 1fr; /* 1fr (one fraction): Anzahl spalten */
    grid-template-rows: 60px 200px 60px 60px 60px 60px; /* 100vh (full viewport height). */
}


.formTitleInp, .formDetailsInp, .formImportanceInp, .formDueDateInp {
    grid-column: 2 / span 2;
}

.formSaveInp {
    grid-column: 2;
    width: 100%;
}

#btnSave{
      width: 100%;
}

.formCancelInp {
    grid-column: 3;
}

/* Rating with hover */

.rating {
    display: inline-block;
    margin-right: 2em;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #999;
}
.rating > span::after {
    content: '\2605';
    -webkit-font-smoothing: antialiased;
}
.rating > span:hover,
.rating > span:hover ~ span, .rating:not(:hover) > span.active {
    color: transparent;
}
.rating > span:hover::before,
.rating > span:hover ~ span::before, .rating:not(:hover) > span.active::before {
    position: absolute;
    left: 0;
    content: '\2605'; /* definiert den stern siehe: https://www.toptal.com/designers/htmlarrows/symbols/ */
    font-weight: 900;
    -webkit-transform: scale(1);
    transform: scale(1);
    color: yellow;
    -webkit-font-smoothing: antialiased;
}




/* StaicRating without hover */

.staticrating {
    display: inline-block;
    margin-right: 2em;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}
.staticrating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    color: #999;
}
.staticrating > span::after {
    content: '\2605';
    -webkit-font-smoothing: antialiased;
}
.staticrating > span.active {
    color: transparent;
}
.staticrating > span.active::before {
    position: absolute;
    left: 0;
    content: '\2605';
    font-weight: 900;
    -webkit-transform: scale(1);
    transform: scale(1);
    color: yellow;
    -webkit-font-smoothing: antialiased;
}