/* versuch 1 */
.newNote,
.style{
    padding: 1em;
}
.order {
    background-color: white;
    padding: 1em;
}

.filter {
    background-color: green;
    padding: 1em;
}

.entryTime {
    background-color: cyan;
    padding: 1em;
}
.entryTitle {
    background-color: magenta;
    padding: 1em;
}
.entryImportance {
    background-color: yellow;
    padding: 1em;
}
.entryState {
    background-color: gray;
    padding: 1em;
}
.entryDetails {
    background-color: red;
    padding: 1em;
}
.entryEdit {
    background-color: green;
    padding: 1em;
}

select {
    background-color: white; /* Green */
    border: 2px solid darkgray;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

button {
    background-color: white; /* Green */
    border: 2px solid darkgray;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.order button {
    width: 33%;
}
.filter button {
    width: 100%;
}

.titleError {
    color: red;
}

.header {
    display: grid; /* basis einstellung fuer layouting grid, flexbox, .... */
    grid-template-columns: 1fr 30em; /* 1fr (one fraction): Anzahl spalten */
    grid-template-rows: 6em; /* 100vh (full viewport height). */
    background-color: lightgray;
}

.subheader {
    display: grid; /* basis einstellung fuer layouting grid, flexbox, .... */
    grid-template-columns: 1fr 30em; /* 1fr (one fraction): Anzahl spalten */
    grid-template-rows: 6em; /* 100vh (full viewport height). */
    background-color: lightgray;
}

.items {
    display: grid; /* basis einstellung fuer layouting grid, flexbox, .... */
    grid-template-columns: 20em 1fr 20em; /* 1fr (one fraction): Anzahl spalten */
    grid-template-rows: 5em 10em; /* 100vh (full viewport height). */
    background-color: lightgray;
}

.header {

}


.rating {
    display: inline-block;
    margin-right: 2em;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #999;
}
.rating > span::after {
    content: '\21AF';
    -webkit-font-smoothing: antialiased;
}
.rating > span:hover,
.rating > span:hover ~ span, .rating:not(:hover) > span.active {
    color: transparent;
}
.rating > span:hover::before,
.rating > span:hover ~ span::before, .rating:not(:hover) > span.active::before {
    position: absolute;
    left: 0;
    content: '\21AF'; /* definiert den stern siehe: https://www.toptal.com/designers/htmlarrows/symbols/ */
    font-weight: 900;
    -webkit-transform: scale(2);
    transform: scale(2);
    color: red;
    -webkit-font-smoothing: antialiased;
}